{% extends "layout.html" %}

{% block body %}
<form id="formSearch" class="form-horizontal">
    <div class="form-group">
        <div class="col-sm-3">
            <input type="text" class="form-control" id="search_deviceId" placeholder="设备id">
        </div>
        <div class="col-sm-3">
            <input type="text" class="form-control" id="search_msgId" placeholder="msgId">
        </div>
        <div class="col-sm-2" style="text-align:left;">
            <button type="button" id="btn_query" class="btn btn-success">查询</button>
        </div>
    </div>
</form>

<table id="tb_mqtts" style="min-width:1000px;">
</table>


<script type="text/javascript">
    $(function () {
        let table = $('#tb_mqtts')
        table.bootstrapTable({
            toolbar: '#toolbar',
            striped: true,
            pagination: true,                   //是否显示分页（*）
            sidePagination: "server",
            pageNumber: 1,
            pageSize: 10,                       //每页的记录行数（*）
            pageList: [10, 25, 50, 100],        //可供选择的每页的行数（*）
            showExport: true,                     //是否显示导出
            exportDataType: "basic",              //basic', 'all', 'selected'.
            url: '/admin/mqtt/list?t={{ t }}',         //请求后台的URL（*）
            method: 'get',
            uniqueId: 'mqttId',
            fixedColumns: true,
            fixedNumber: 2,
            queryParams: function (params) {
                var temp = {   //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
                    limit: params.limit,   //页面大小
                    offset: params.offset,  //页码
                    search_msgId: $("#search_msgId").val(),
                    search_deviceId: $("#search_deviceId").val()
                };
                console.log(temp)
                return temp;
            },//传递参数（*）
            columns: [{
                field: 'deviceId',
                title: '设备ID'
            }, {
                field: 'operation',
                title: '消息类型'
            }, {
                field: 'createTime',
                title: '接收时间',
                formatter: function (value, row, index) {
                    if(value == 0) return '-'
                    return dateFormat(new Date(value * 1000), "yyyy-mm-dd HH:MM:ss");
                }
            }, {
                field: 'msgId',
                title: 'msgId'
            }, {
                field: 'topic',
                title: 'topic'
            }, {
                field: 'content',
                title: '消息体'
            }]
        });

        $('#btn_query').click(function () {
            $('#tb_mqtts').bootstrapTable('refresh');
        });

    });

</script>


{% endblock %}
