<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            {% for item in navMenus %}
            <li class="treeview {% if selectMenu == item.name  %} active {% endif %}">
                <a href="#">
                    <i class="fa {{ item.icon }}"></i>
                    <span>{{ item.alias }}</span>
                    <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                </a>

                <ul class="treeview-menu">
                    {% for item1 in item.children %}
                    <li class="{% if selectNav == item1.controller + item1.action  %} active {% endif %}">
                        <a href="/admin/{{item1.controller}}/{{item1.action}}">
                            <i class="fa {{ item1.icon }}"></i> {{ item1.alias }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>

            </li>
            {% endfor %}

            <li class="header">
                <i class="fa fa-heartbeat"></i> <span>监控-更新于{{lastUpateMonitor}}</span>
            </li>
            <li><a href="/admin/device/status?t=online"><i class="fa  icon-circle-blank text-green"></i> <span>待处理订单-{{ onlineNum }}</span></a>
            </li>
            <li><a href="/admin/device/status?t=offline"><i class="fa  icon-circle-blank text-yellow"></i> <span>正在配送订单-{{ offlineNum }}</span></a>
            </li>
            <li><a href="/admin/device/status?t=exception"><i class="fa  icon-circle-blank text-red"></i> <span>订单异常-{{ exceptionNum }}</span></a>
            </li>

        </ul>
    </section>
    <!-- /.sidebar -->
</aside>